[submodule "dotjs"]
	path = dotjs
	url = https://github.com/defunkt/dotjs.git
[submodule "zsh/.zsh/zsh-completions"]
	path = zsh/.zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh/pure"]
	path = zsh/pure
	url = https://github.com/juggler/pure.git
[submodule "emacs/mimicry"]
	path = emacs/mimicry
	url = https://github.com/juggler/mimicry.git
